html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #f3f3f3;
  font-family: Roboto;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

main,
footer {
  /* offset header fisso */
  position: relative;
  top: 4.9rem;
}

#headerWebsite {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

#headerWebsite h2 a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 2rem;
  font-weight: 100;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
  /* allineamento a dx */
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-left: 1rem;
}

nav ul li a {
  color: #4a4a4a;
  font-size: 1.2rem;
  text-decoration: none;
}

#logoIG {
  width: 1rem;
  position: relative;
  top: 0.1rem;
  margin-left: 0.2rem;
}

#mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  #headerWebsite {
    display: none;
  }

  #mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 3rem;
    z-index: 1;
    background-color: #f3f3f3;
    position: relative;
    right: 1rem;
  }

  #mobile ul li {
    margin: auto 1rem;
  }

  #mobile #button {
    background-color: #9dc20b;
    border-radius: 0.25rem;
    padding: 0.188rem 0.5rem;
    position: relative;
    bottom: 0.2rem;
  }

  main,
  footer {
    top: 3rem;
  }
}

#intro {
  background-image: url(img/banner-landingpage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  display: flex;
  align-items: center;
}

#details {
  width: 40%;
  background-color: #9dc20b;
  border-radius: 0.2rem;
  padding: 0 4rem 3.5rem 4rem;
  margin-left: 10%;
  text-align: center;
}

#details h1 {
  font-family: "Damion", cursive;
  font-size: 2rem;
  font-weight: 100;
}

#details h2 {
  font-family: "Rubik", sans-serif;
  margin-top: -1.875rem;
  font-size: 2.7rem;
  font-weight: 200;
}

#details p {
  font-size: 1.1rem;
  line-height: 1.4;
}

#details button {
  margin-top: 1.625rem;
  padding: 1.25rem 5.25rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #4a4a4a;
  color: white;
  font-size: 1rem;
}

@media only screen and (max-width: 480px), (max-width: 768px) {
  #intro {
    background-position: right;
    justify-content: center;
    height: 23rem;
  }

  #details {
    background-color: rgba(243, 243, 243, 0.6);
    margin: 0;
  }

  #details p,
  #details button {
    display: none;
  }

  #details h1 {
    font-size: 3rem;
    position: relative;
    right: 0.2rem;
  }

  #details h2 {
    font-size: 1.1rem;
    margin-top: -3rem;
  }
}

#productDet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem 5%;
}

.polaroidPics {
  flex: 1;
  padding: 2rem;
  margin: 0px 1.25rem;
  background-color: white;
  text-align: center;
}

.image-container img {
  width: 90%;
  height: 65%;
}

.polaroidPics h2 {
  font-size: 2.25rem;
  color: #4a4a4a;
}

.polaroidPics h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 200;
  color: #4a4a4a;
  margin-top: -20px;
}

@media only screen and (max-weight: 480px) {
  #productDet h2 {
    font-size: 1rem;
  }

  #productDet h3 {
    font-size: 0.9rem;
  }
}

#filters {
  background-color: #4a4a4a;
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
}

#filtersInfo {
  text-align: center;
  margin-top: 2rem;
  color: #f3f3f3;
}

#filtersInfo h2 {
  font-size: 2.25rem;
  font-weight: bold;
  opacity: 100%;
  margin-bottom: -1rem;
}

#filtersInfo h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 100;
}

#filtersPic {
  display: flex;
  padding: 0 1rem;
}

#filtersPic img {
  width: 25%;
}

@media only screen and (max-width: 480px) {
  #filters h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }

  #filters h2,
  #filters h3 {
    padding: 0 1.5rem;
  }

  #filtersPic {
    padding: 0 0.3rem;
  }
}

#quotes {
  text-align: center;
  margin: 3rem auto;
}

#quotes cite {
  font-size: 1.5rem;
}

#quotePic {
  margin: auto 1rem;
  position: relative;
  top: 0.7rem;
  width: 10rem;
}

@media only screen and (max-width: 480px), (max-width: 768px) {
  #quotes {
    width: 80%;
  }

  #quotes cite {
    font-size: 1.4rem;
    display: block;
    margin-bottom: 1rem;
  }
}

footer {
  background-color: rgb(155, 155, 155);
  padding: 0.5rem 1rem;
}

footer p {
  color: #f3f3f3;
  font-weight: 100;
  font-size: 0.9rem;
}

@media only screen and (max-width: 480px) {

  footer p {
    font-size: 0.8rem;
  }
}
